<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Auth</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="files/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<link rel="stylesheet" href="files/styles.css"></head>
<body class="mat-typography">
  <app-root></app-root>
<script src="files/runtime.js" defer></script><script src="files/polyfills.js" defer></script><script src="files/main.js" defer></script></body>
</html>
