<app-wrapper maxWidth="800px">

  <div class="main">
    <div class="title">
      Połączone aplikacje
    </div>
    <div class="connection">
      <img class="allegro" src="assets/allegro.svg">
      <div class="spacer"></div>

      <div class="connectionText" *ngIf="allegroConnected()">
        Połączony jako: <span>{{allegroUsername()}}</span>
      </div>
      <button *ngIf="allegroConnected()" (click)="disconnectAllegro()" mat-icon-button matTooltip="Rozłącz aplikacje">
        <mat-icon>close</mat-icon>
      </button>

      <div (click)="connectAllegro()" class="connect" *ngIf="!allegroConnected()">
        Połącz
      </div>
    </div>
  </div>

</app-wrapper>
