<div *ngIf="!token">
  <div *ngIf="!passwordChangeRequestState">
    <form [formGroup]="passwordChangeRequestFormGroup">
      <app-input [autocomplete]="'email'" [control]="passwordChangeRequestFormGroup.controls['email']"
                 [label]="'E-MAIL'"
                 [type]="'text'">
      </app-input>

      <button (click)="passwordChangeRequest()"
              [disabled]="passwordChangeRequestFormGroup.invalid && passwordChangeRequestFormGroup.touched"
              class="register"
              color="primary" mat-raised-button>
        ZMIEŃ HASŁO
      </button>
    </form>
    <span>
      Przypomniałeś sobie hasło?
      <a routerLink="/auth/login">
      Zaloguj się
      </a>
    </span>
  </div>


  <div *ngIf="passwordChangeRequestState">
    <div class="registerSuccessfulTitle">
      Link został wysłany
    </div>
    <div class="registerSuccessfulText">
      Na twój adres e-mail zastał wysłany link dzięki któremu będziesz mógł zmienić hasło.
    </div>
    <button class="register" color="primary" mat-raised-button routerLink="/auth/login">
      PRZEJDŹ DO LOGOWANIA
    </button>
  </div>

</div>
<div *ngIf="!!token">
  <div *ngIf="passwordChangeStatus===null">
    <form [formGroup]="passwordChangeFormGroup">
      <app-input [autocomplete]="'new-password'" [control]="passwordChangeFormGroup.controls['password']"
                 [label]="'NOWE HASŁO'"
                 [type]="'password'">
      </app-input>

      <app-input [autocomplete]="'new-password'" [control]="passwordChangeFormGroup.controls['password_confirmation']"
                 [label]="'POTWIERDŹ HASŁO'"
                 [type]="'password'">
      </app-input>

      <button (click)="passwordChange()"
              [disabled]="passwordChangeFormGroup.invalid && passwordChangeFormGroup.touched"
              class="register"
              color="primary" mat-raised-button>
        ZMIEŃ HASŁO
      </button>
      <span>
      Przypomniałeś sobie hasło?
      <a routerLink="/auth/login">
      Zaloguj się
      </a>
    </span>
    </form>
  </div>
  <div *ngIf="passwordChangeStatus===true">
    <div class="registerSuccessfulTitle">
      Hasło zostało zmienione
    </div>
    <div class="registerSuccessfulText">
      Twoje hasło zostało zmienione i możesz się teraz zalogować na swoje konto
    </div>
    <button class="register" color="primary" mat-raised-button routerLink="/auth/login">
      PRZEJDŹ DO LOGOWANIA
    </button>
  </div>

  <div *ngIf="passwordChangeStatus===false">
    <div class="registerSuccessfulTitle error">
      Błąd podczas zmiany hasła
    </div>
    <div class="registerSuccessfulText">
      Wystąpił problem podczas próby zmiany twojego hasła. Spróbuj ponownie.
    </div>
    <button class="register" color="primary" mat-raised-button routerLink="/auth/login">
      PRZEJDŹ DO LOGOWANIA
    </button>
  </div>
</div>
